<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDo0iub9aUW2FIspZd2OJYv4nGuDv8m2K4</string>
	<key>GCM_SENDER_ID</key>
	<string>555248158579</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.tag3</string>
	<key>PROJECT_ID</key>
	<string>tag3-46b31c</string>
	<key>STORAGE_BUCKET</key>
	<string>tag3-46b31c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:555248158579:ios:de6dce1a6c7af8124ba706</string>
</dict>
</plist>